mtcnn
pillow
tensorflow
numpy
scikit-learn  # for evaluation metrics
matplotlib    # for visualization
PyQt5

# for ML Processing

#arcface
insightface 
onnxruntime 
opencv-python

#facenet
facenet-pytorch 
mtcnn 

#mfn
torch 
torchvision 
torchaudio
